In [1]:
import pandas as pd

In [38]:
data = pd.read_clipboard()

In [39]:
#Looks like the data was loaded correctly:
data.head()

  Account manager                 Client Name Date of Contact
0     Milan Crona     Wyman, Farrell and Haag      2015-10-31
1    Aidan Pouros  Veum, McClure and Schuster      2013-12-07
2     Milan Crona             Armstrong Group      2013-11-02
3    Aidan Pouros   Lueilwitz, Moore and Hahn      2013-12-25
4   Chauncey Dach                Abbott Group      2016-03-21

In [40]:
#Let's see the amount of rows and columns in the data
data.shape

(1000, 3)

In [7]:
#Let's see what type of data we are working with
data.dtypes

Account manager    object
Client Name        object
Date of Contact    object
dtype: object

In [35]:
#let's look at all the unique clients and see if there are any typos
data["Client Name"].unique()

array(['Wyman, Farrell and Haag', 'Veum, McClure and Schuster',
       'Armstrong Group', 'Lueilwitz, Moore and Hahn', 'Abbott Group',
       'Oga, Gottlieb and Cruickshank', 'Fahey, Wunsch and Bashirian',
       'Bosco-Ortiz', 'Ondricka-Wolff', 'Anderson, Kutch and Hyatt',
       'Mitchell and Sons', 'Brown, Wyman and Grimes', 'Cormier LLC',
       'Stamm-Crooks', 'Hauck Group', 'Johnston-Schaden', 'Walter Inc',
       'Hoppe-Batz', 'Denesik, Stehr and Carter', 'Eichmann and Sons',
       'Sanford and Sons', 'Kuhic, Stark and Kreiger',
       'Kris, Shanahan and Quigley', 'Koss Inc', 'Halvorson LLC',
       'Franecki-Feil', 'Donnelly-Champlin', 'Lemke-Pfannerstill',
       'Lindgren, Graham and Spinka', 'Medhurst, Ankunding and Wolff',
       'Trantow Inc', 'Thompson, Howell and Hegmann', 'Hagenes Inc',
       "Orn, Russel and O'Reilly", 'Hermiston, Armstrong and Balistreri'], dtype=object)

In [41]:
#No typos, so let's save the amount of unique clients in a variable
unique_clients = len(data["Client Name"].unique()) ; unique_clients

35

In [42]:
#We need to turn the date into a datetime so we can easily manipulate it
data["Date of Contact"] = pd.to_datetime(data["Date of Contact"])

In [46]:
#Let's make a month and year column for easy data manipulation and make
#sure everything worked correctly
data["Month"] = data["Date of Contact"].dt.month
data["Year"] = data["Date of Contact"].dt.year
data.head()

  Account manager                 Client Name Date of Contact  Month  Year
0     Milan Crona     Wyman, Farrell and Haag      2015-10-31     10  2015
1    Aidan Pouros  Veum, McClure and Schuster      2013-12-07     12  2013
2     Milan Crona             Armstrong Group      2013-11-02     11  2013
3    Aidan Pouros   Lueilwitz, Moore and Hahn      2013-12-25     12  2013
4   Chauncey Dach                Abbott Group      2016-03-21      3  2016

In [47]:
#Now let's group by month and year to find the percentage of clients
#contacted per month
grouped_year_month =data.groupby(["Month", "Year"])["Client Name"].nunique() / unique_clients

In [48]:
grouped_year_month

Month  Year
1      2014    0.257143
       2015    0.400000
       2016    0.428571
       2017    0.342857
2      2014    0.314286
       2015    0.428571
       2016    0.400000
       2017    0.371429
3      2014    0.314286
       2015    0.342857
       2016    0.428571
       2017    0.285714
4      2014    0.314286
       2015    0.342857
       2016    0.314286
       2017    0.257143
5      2014    0.342857
       2015    0.457143
       2016    0.400000
       2017    0.371429
6      2014    0.542857
       2015    0.400000
       2016    0.428571
       2017    0.371429
7      2014    0.428571
       2015    0.428571
       2016    0.314286
       2017    0.314286
8      2014    0.485714
       2015    0.428571
       2016    0.400000
       2017    0.371429
9      2014    0.657143
       2015    0.514286
       2016    0.542857
       2017    0.600000
10     2013    0.885714
       2014    0.800000
       2015    0.800000
       2016    0.714286
11     2013    0.342857
       2014    0.428571
       2015    0.285714
       2016    0.342857
12     2013    0.428571
       2014    0.428571
       2015    0.400000
       2016    0.485714
Name: Client Name, dtype: float64

In [49]:
#Now let's take an average over every year
grouped_year_month.groupby("Month").mean().sort_values(ascending=False)

Month
10    0.800000
9     0.578571
12    0.435714
6     0.435714
8     0.421429
5     0.392857
2     0.378571
7     0.371429
1     0.357143
11    0.350000
3     0.342857
4     0.307143
Name: Client Name, dtype: float64

Looks like the highest average percentage of clients contacted per month is October.